<template>
    <div>
        <b-jumbotron class="text-center"
                     header="My Favourite Books"
                     header-level="4"
                     fluid
                     lead="Search books using the ISBN and add to your list">
            <div class="input-group">
                <input type="text" class="form-control" v-model="isbn" placeholder="Enter ISBN" @keydown="errors = ''">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" @click="searchBook">Search</button>
                </span>
                <b-form-invalid-feedback v-show="error" v-text="error">

                </b-form-invalid-feedback>
            </div>
            <div class="container-search d-flex justify-content-center">
                <div v-if="book" class="card" style="flex-direction: row">
                    <img class="card-img-top" :src="book.CoverThumb" alt="Book cover" />
                    <div class="card-body">
                        <h4 class="card-title">{{ book.Title }}</h4>
                        <p class="card-text">{{ book.Authors }}</p>
                        <p class="card-text">{{ book.Subtitle }} {{ book.Description }}</p>

                        <p class="card-text">{{ book.ISBN }}</p>
                        <a href="#" class="btn btn-primary" @click="addBook" v-if="$auth.check()">Add to Favourite</a>
                        <p v-if="!$auth.check()">You must login to add this book to your list</p>
                    </div>
                </div>
            </div>
            
        </b-jumbotron>
        
        

        <div class="container text-center"  >
            <h2>My favourite books <b-badge v-if="$auth.check()">{{ totalBooks }}</b-badge></h2>
            <div class="d-flex justify-content-center flex-wrap container-books clearfix" v-if="$auth.check()">
                <div class="card" v-for="favBook in favBooks">
                    <img class="card-img-top" :src="favBook.CoverThumb" alt="Book cover" />
                    <div class="card-body">
                        <h4 class="card-title">{{ favBook.Title }}</h4>
                        <p class="card-text">{{ favBook.Authors }}</p>
                        <p class="card-text">{{ favBook.Subtitle }} {{ favBook.Description }}</p>

                        <p class="card-text">{{ favBook.ISBN }}</p>
                        <a href="#" class="btn btn-primary" @click="removeBook( favBook)">Remove</a>
                    </div>
                </div>
            </div>
            <b-alert show variant="secondary"  v-if="!$auth.check()">You must login to manage your books list</b-alert>
        </div>

    </div>
</template>

<script src="./home.js"></script>
<style src="./home.css"></style>